$grey900:#121224;
$grey850: #1e1e2f;
$grey800: #2a2a3a;
$grey700: #414150;
$grey600: #595966;
$grey500: #71717c;
$grey400: #a0a0a7;
$grey300: #b8b8bd;
$grey200: #d0d0d3;
$grey100: #d0d0d3;
$grey060: #dedee0;
$grey040: #ececed;
$grey020: #f6f6f6;
$grey010: #fafafb;

$red500: #f54747;
$red050: #fee9e9;

$blue500: #666bd3;
$blue300: #a3a6e5;
